.navigation a
{

    margin: 0 1em;
    align-content: center;
}

.navigationsearch {
    display: grid;
    grid-template-columns:3fr 1fr;
    margin: 0 1em;
    align-content: center;

}

.container {
    padding: 0 1.2em;
    margin: auto;
    margin-top: 2em;
  }
