<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<!-- <nav class="navigation" fxLayout ="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center stretch" fxLayoutGap.xs="5px">
        <a mat-stroked-button routerLink="/home">Home</a>
        <a mat-stroked-button routerLink="/history">View Medical History</a>
        <app-searchbarcomponent></app-searchbarcomponent>
        <a mat-stroked-button routerLink="/feedback">Provide Feedback</a>
        <a mat-stroked-button routerLink="/register">Register</a>
        <a mat-stroked-button routerLink="/login">Login</a>
        <a mat-stroked-button routerLink="/bookappointment">Book Appointment</a>
        <a mat-stroked-button routerLink="/searchresult">Search Result</a>

</nav> -->

<app-searchbarcomponent></app-searchbarcomponent>
<router-outlet></router-outlet>


